.btn_class{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%
 }

 .div_2{
    width: 485px;
    height: 271px;
    background-color: #00ffff54;
    margin-top: 8%;
}






