.useRef_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    flex-direction: column;
}
.forwardRef_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
}
.card_body{

    width: 450px;
    height: 340px;
    border: rgb(27, 11, 11) 1px solid;
}